= render 'shared/errors', obj: @image
%table.attr
  %tr
    %th= form.label :new_data
    %td
      %div= form.file_field :new_data
      = image_tag '', id: 'thumbnail', accept: 'image/*', style: 'width: 100px'
  %tr
    %th= form.label :alt_text
    %td= form.text_field :alt_text, size: 40
