- @page_title = 'ブログ記事の画像編集'
%h1= @page_title

%h2= @entry.title

= form_with model: @image, as: 'image', url: entry_image_path(@entry, @image), class: 'entry-image-form' do |form|
  = render 'form', form: form
  .entry-image-form-submit= form.submit
