- @page_title = 'ニュース記事一覧'

= form_with url: search_articles_path, local: true, method: :get, class: 'article-search-form' do |f|
  = f.text_field 'q', size: 25, placeholder: 'タイトルを入力してください', class: 'article-search-field'
  = f.submit '検索', class: 'article-search-form-submit'

%h1= @page_title

- if @articles.present?
  %table.list
    %thead
      %tr
        %th タイトル
        %th 日時
    %tbody
      - @articles.decorate.each do |article|
        %tr
          %td= link_to article.title, article_path(article)
          %td= article.released_date
  = paginate @articles
- else
  %p 記事がありません
