%h2 ログイン
= form_with url: '/session', id: 'login-form', local: true do |f|
  %div
    = f.label 'ユーザー名：'
    = f.text_field :name
  %div
    = f.label 'パスワード：'
    = f.password_field :password
  %div
    = f.submit 'ログイン'
