- @page_title = 'アクティビティログ'

%h1= @page_title
.toolbar
  = link_to 'CSV ダウンロード', download_admin_activity_logs_path(format: :csv)

- if @activity_logs.present?
  %table.list
    %thead
      %tr
        %th ユーザー名
        %th 日時
        %th ログ
    %tbody
      - @activity_logs.decorate.each do |log|
        %tr
          %td= log.performer.full_name + ' さん'
          %td= log.performed_date
          %td= log.log_type_view
  = paginate @activity_logs
- else
  %p アクティビティログがありません
